/* 
This is a working develeopment file for human readability.
Use a CSS optimizer to reduce file size for published websites.

Global size and style settings first, then we can overwrite them in
exceptional cases below. Computers use the last mentioned CSS setting 
 */

/* Global sizes, boxes, margins and colors  */
/* body width is set to 99% to avoid screen overflow on all devices. */

html {padding:0em 1em;background:#F9F9F9;font-size:115%;}

/* max-width:100%; is set for potentially over-sized elements to avoid
screen overflow on all devices. Notihng can be larger, since body is 99% too. */

img,iframe,input,element,javascript,embed,body,html{max-width:100%;}

body {margin: 0px; padding: 0px 20px 3px 3px;
  width:99%; min-height:99%; display:block;
  background: #fdfdfd; color: #051105;
}
/* Empty spacing between all elements. Set other, where needed. */
body *{margin:0.277em;}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body, input, select, textarea,body iframe {font:1.1em/1.2em Montserrat, sans-serif ;}

h1 {font:1.555em/1.333em medium sans-serif;}
h2 {font:1.444em/1.333em medium sans-serif;}
h3 {font:1.333em/1.255em medium sans-serif;}
h4,h5,h6 {font:1.111em/1.222em regular sans-serif;}

input,texarea {padding:0 3px;}


/* GLOBAL COLORS that were not set before. */

::selection{background:#CF7;color:#000;}

/* GLOBAL style setting that were not set before. */

a:hover { border-bottom: 2px dashed #00b }

/* GLOBAL CSS element classes, if needed. Keep them to the minimum.
Set CSS classes on individual pages, when they are NOT used globally.

/* Examples of CSS Global classes for content boxes.

.l-box {box, left on the screen}
.r-box {box, right on the screen}
.footer {bottom footer with quick links, final text, etc..}
 */

/* .header is the box at the top of screen
for logo, menu, links, search, login, etc. */

.header {margin:10px 0px 5px 0px; width:99%; display:block;}

/* .docker is the sticky box at the bottom of screen
for quick settings and buttons */

.docker { margin:1px;padding:0px;position:fixed;
bottom:0%;right:33%;z-index:99;width:50%;height:40px;color:#3B2E2E;
text-align:center;overflow:hidden;background:transparent;border:0px;
}

.docker:hover, .docker:active{
margin:1px;padding:1em;position:fixed;bottom:0%;
right:20%;z-index:250;width:60%;height:70%;background:#FCFCFC;display:block;
vertical-align:top;text-align:center;border-radius:8px;box-shadow:0px 1px 33px #bbb;
}


.v-center { vertical-align: middle; }
.h-center {  text-align: center}
.all-center { vertical-align: middle; text-align: center; display: flex;
  justify-content: center; }





